header {
  text-align: center;
  color: white;
  background-color: thistle;
  border-style: solid;
  border-width: 3px;
}
h1 {
  color: red;
  font-family: fantasy;
}

h1{
  text-align: center;
  font-family: serif;
  font-size: 30px;
}
body {
  background-image: url("background_image.jpg");
}
h2{
  text-align: center;
  font-family: serif;
  font-size: 20px;
  color: black;
}
p{
  text-align: center;
  font-family: serif;
  font-size: 20px;
  color: white;
}
.fast_food {
  text-align: center;
}
a {
  color: white;
  font-size: 20px;
  font-family: serif;
}
.table {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: serif;
}
