h1 {
  color: red;
  font-family: fantasy;
}

.center-class {
  text-align: center;
  font-family: serif;
  font-size: 30px;
}
body {
  background-color: thistle;
}
.middle-class {
  text-align: center;
  font-family: serif;
  font-size: 20px;
  color: black;
}
.final-class {
  text-align: center;
  font-family: serif;
  font-size: 20px;
  color: black;
}
